.card{
    border: none;
}
.rounded-circle{
    width: 2rem;
    height: 2rem;
}

.chat li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b3a9a9;
}
.chat{
    list-style: none;
}
.card-body {
    overflow-y: scroll;
    height: 400px;
}